<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Prova_2_dispositivos_moveis"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".ConsultaLocador"
            android:exported="false" />

        <service
            android:name=".ServicoLocador"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".CadastroLocador"
            android:exported="false" />
        <activity
            android:name=".CadastroVeiculo"
            android:exported="false" />

        <service
            android:name=".ServicoVeiculo"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".ConsultaVeiculo"
            android:exported="false" />

        <service
            android:name=".ServicoMarca"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".ConsultaVeiculo$MyReceiverVeiculos"
            android:enabled="true"
            android:exported="true" />
        <receiver
            android:name=".CadastroLocador$MyReceiverLocador"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>